
body
{
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



.nav
{
  top: 0;
  width: 100%;
  padding: 0.2%;
  position: fixed;
  background-color:#f1f2f6;
  font-size: 24px;
  z-index: 1; 
}

.navl
{
  text-align: center;
}

.navl a
{
  margin-top: 5%;
  padding: 3%;
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

.navl a:hover
{
  color: #29abe2;
}

.navlogo
{
  margin-top: 0.2%;
  width: 5%;

}


a
{
  cursor: pointer;
  color: #29abe2;
  text-decoration: none;
}

a:hover
{ 
  cursor: pointer;
  color:#ced6e0;
  transition-duration: 0.2s;
   /*text-shadow: 15px 5px 5px #29abe2; */
}


.logo
{
  
  padding-top: 15%;
  width:15%;
}

.mnscr
{
   margin-top: -10%;
  padding-right: 5%;
  float: right;
  width: 35%;
  
  
}

.mntxt
{
  margin-top: 17%; 
  padding-right:45%;
  padding-left:12%;
  font-size: 32px;
}

.str
{

  padding-left:10%;
  padding-right: 58%;
  padding-top:2%;
}

.appstr
{
  cursor: pointer;
  padding-left:5%;
  width: 45%;
}

.plystr
{ 
  cursor: pointer;
  padding-left:5%;
  width: 45%; 
}

.strtxt
{

  text-align: center;
  font-size: 40px;
}


.mulicn
{
  width: 100%;
  float: left;
  margin-top: 5%;
  padding-top: 3%;
  background-color: #000000;
  text-align: center;
  padding-bottom:3%;
}

.iconim
{
  padding-top: 2%;
}

.iconti
{
  padding-top: 2%; 
  color: #29abe2;
  font-size: 24px;
}

.icont
{
  padding-top: 2%;
  padding-left:25%;
  padding-right: 25%;
  color: #ffffff;
  font-size: 18px;
}

.icon1,.icon2,.icon3
{
  width: 33.3%;
  background-color: #000000;
  float: left;
}
.scr
{
  
  margin-top: 2%;
  background-color: #ffffff;;
}

.scrt
{
  padding-top: 29%; 
  color:#29abe2;
  text-align: center;
  font-size: 36px;
}

.scrtil
{
  padding-top: 10%;
  padding-right: 19%;
  text-align: right;
  font-size: 32px;
  font-weight: bolder;
}

.scrtil1
{
  padding-top: 10%;
  padding-left: 19%;
  text-align: left;
  font-size: 32px;
  font-weight: bolder;
}

.scrmn
{
  background-color: #ffffff;
  padding-top: 2%;
  padding-bottom: 10%;
}

.scrmn1
{ 
  padding-top:2%;
  padding-bottom: 10%;
  background-color: #f1f2f6;
}
.scrimg
{ 
  float: left;
  padding-left: 20%;
  padding-top: 2%;
  width: 18%;
}

.scrimg1
{ 
  float: right;
  padding-right:20%;
  padding-top: 2%;
  width: 18%;
}
.scrtxt
{
  padding-top: 5%;
  padding-left: 50%;
  padding-right: 10%;
  text-align:center;
  font-size: 24px;
}

.scrtxt1
{
  padding-top: 5%;
  padding-right: 50%;
  padding-left: 10%;
  text-align:center;
  font-size: 24px;
}


.scrdn
{ 
  margin-top: 5%;
  padding: 1%;
  background-color: #000000;
  color:#ced6e0;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 20%;
  margin-left:60%;
  display: block;
  cursor: pointer;
}
.scrdn1
{ 
  margin-top: 5%;
  padding: 1%;
  background-color: #000000;
  color:#ced6e0;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  width: 20%;
  margin-left:18%;
  display: block;
  cursor: pointer;
}




.ftr
{
  padding: 2%;
  cursor: pointer;
  bottom: 0;
  padding-top: 2%;
  background-color: #000000;
  color:#ced6e0; 
}

.ftrtxt
{

  text-align: center;
  font-size: 25px;
}

.ftric
{
  word-spacing: 30px;
  padding-top: 1%; 
  text-align: center;
  font-size: 35px;
}



.ftrfrm
{

  text-align: center;
}

.frmtxt
{
  padding-top: 2%;
  text-align: center;
  font-size: 25px;
}

.frmask
{
  padding: 1%;
  text-align: center;
  width: 100%;

}

input[type=text] {
  width: 25%;
  background-color: #000;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f1f2f6;
  color: #f1f2f6;
}
input[type=text]:focus {
  border-bottom: 3px solid #29abe2;
}

input[type=email] {
  width: 25%;
  background-color: #000;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #f1f2f6;
  color: #f1f2f6;
}

input[type=email]:focus {
  border-bottom: 3px solid #29abe2;
}

input[type=submit]{
  margin-top: 2%;
  background-color: #29abe2;
  border: none;
  color: white;
  width: 10%;
  padding: 0.5%;
  text-decoration: none;
  cursor: pointer;
}

textarea {
  width: 45%;
  height: 100px;
  padding: 12px 20px;
  border: none;
  border-bottom: 2px solid #f1f2f6;
  background-color: #000;
  color: #f1f2f6;
  font-size: 16px;
  resize: none;
}

textarea:focus
{
  border-bottom: 3px solid #29abe2; 
}

input::placeholder {
  color: #29abe2;
  font-size: 15px;
}

textarea::placeholder { 
  color: #29abe2;
  font-size: 15px;
}  


.cprtxt
{
  padding-top: 5%;
  text-align:center;
  font-size: 15px;
}



.dhide
{
  display: none;
}



