body
{
  margin: 0;
  font-family: 'Assistant', sans-serif;
  
}



.nav
{
  top: 0;
  width: 100%;
  position: fixed;
  background-color:#f5f6fa;
  color:#ced6e0;
  width: 100%;
  cursor: pointer;
  padding: 0.5%;
  z-index: 1; 
}

.nav a
{

  text-decoration: none;
  color: #000000;
}

.nav a:hover
{
  color: #29abe2;
}

.navimg
{
  float: left;
}

.navl
{
  padding-top: 0.4%;
  width: 40%;
  float: right;
  font-size: 20px;
}

.navl a
{
  padding-right: 7%;  
  text-align: right;
  cursor: pointer;
}

a
{
  cursor: pointer;
  color: #29abe2;
  text-decoration: none;
}

a:hover
{ 
  cursor: pointer;
   color:#ced6e0;
  
}

.navlogo
{

  background-color:#f5f6fa;
  width: 7%;
  height: 5%;
}

.logo
{
  
  padding-top: 15%;
  width:25%;
}

.mnscr
{
   margin-top: -3.5%;
  padding-right: 3%;
  float: right;
  width: 45%;
  
  
}

.mntxt
{
  margin-top: 17%; 
  padding-right: 55%;
  padding-left: 5%;
  font-size: 20px;
}

.str
{
  padding-left:10%;
  padding-right:50%;
  padding-top:5%;
}

.appstr
{
  cursor: pointer;
  padding-left: 2%;
  width: 45%;
}

.plystr
{ 
  cursor: pointer;
  padding-left: 2%;
  width: 45%; 
}

.strtxt
{
  
  text-align: center;
  font-size: 26px;
}


.mulicn
{
  width: 100%;
  float: left;
  margin-top: 10%;
  padding-top: 5%;
  background-color: #000000;
  text-align: center;
  padding-bottom: 5%;
}
.iconim
{

  padding-top: 5%;

}
.iconti
{
  padding-top: 3%;  
  color: #29abe2;
  font-size: 18px;
}

.icont
{
  padding-top: 5%;
  padding-left:25%;
  padding-right: 25%;
  color: #ffffff;
  font-size: 14px;
}

.icon1,.icon2,.icon3
{
  width: 33.3%;
  background-color: #000000;
  float: left;
}



.scr
{
  
  margin-top: 30%;
  background-color: #ced6e0;;
}

.scrtil
{
  padding-right: 7.5%;
  text-align: right;
  font-size: 32px;
  font-weight: bolder;
}

.scrimg
{ 
  float: left;
  width: 10.5%;
  margin-top:-10%;
  padding-left: 25%;
  margin-left: -15%;
  padding-top: 2%;
  width: 35%;
}

.scrt
{
  padding-top: 20%;
  text-align: center;
  font-size: 26px;
}

.scrmn
{
  background-color: #ced6e0;
  padding-top: 14%;
  padding-bottom: 32%;
}
.scrmn1
{ 
  padding-top: 14%;
  padding-bottom: 32%;
  background-color: #f1f2f6;
}
.scrtxt
{
  padding-top: 7.5%;
  padding-left:50%;
  padding-right: 3%;
  text-align:center;
  font-size: 24px;
}



.scrdn
{ 
  margin-left: 58%;
  margin-top: 5%;
  padding: 1%;
  background-color: #000000;
  color:#ced6e0;
  text-decoration: none;
  text-align: center;
  font-size: 24px;
  width: 25%;
  display: block;
  cursor: pointer;
}

.ftr
{
  padding: 2%;
  cursor: pointer;
  bottom: 0;
  padding-top: 2%;
  background-color: #000000;
  color:#ced6e0; 
}

.ftrtxt
{

  text-align: center;
  font-size: 25px;
}

.ftric
{
  word-spacing: 30px;
   padding-top: 1%; 
  text-align: center;
  font-size: 35px;
}



.cprtxt
{
  padding-top: 2%;
  text-align:center;
  font-size: 15px;
}



.dhide
{
  display: none;
}

@media only screen and (min-width: 768px) {
  
} 
