
body
{
	margin: 0;
	font-family: 'Assistant', sans-serif;
}

.topnav 
{
	color: #ffffff;
  	overflow: hidden;
  	position: relative;
}

.topnav #myLinks 
{
	background: black;
  	display: none;

}

.topnav a 
{
  	color: #fff;
  	padding: 14px 16px;
  	text-decoration: none;
  	font-size: 17px;
  	display: block;
}

.topnav a.icon 
{
  	color: #000;
  	display: block;
  	position: absolute;
  	right: 0;
  	top: 0;
}

.topnav a:hover 
{
  	background-color: #ddd;
  	color: black;
}

.active 
{		
  	color: white;
}

.logo
{
	height: 20%;
	width: 50%;
	
}

.new
{
	padding-top: 5%;
}
.mnscr
{

	padding-left: 18%;
  	position: absolute;
	width: 60%;
	
}

.mntxt
{
	padding: 0% 5%;
	padding-top: 80%;
	font-size: 18px;
}

.str
{

	padding-left:3%;
	padding-right: 3%;
	padding-top: 4%;
}

.appstr
{
	width: 45%;
	
}

.plystr
{
	padding-left:10%;
	width: 45%;	
}

.strtxt
{
	text-align: center;
	font-size: 18px;
}

.mulicn
{
	margin-top: 20%;
	background-color: #000000;
	text-align: center;
	padding-bottom: 15%;
}
.iconim
{
	padding-top: 10%;

}
.iconti
{
	
	color: #29abe2;
	font-size: 18px;
}

.icont
{
	padding-top: 1%;
	padding-left:3%;
	padding-right: 3%;
	color: #ffffff;
	font-size: 16px;
}

.scr
{
	text-align: center;
	padding-top: 5%;
	background-color: #ced6e0;;
}

a{
	text-decoration: none;
	color: #29abe2;
}

.scrdn
{
	color:#ced6e0; 
	text-decoration: none;
}

.scrtil
{
  font-size: 24px;
  font-weight: bolder;
}


.scrt
{
	
	font-size: 20px;
}

.scrmn
{
	background-color: #ced6e0;
	padding-top: 4%;
	padding-bottom: 4%;
}
.scrmn1
{	
	padding-top: 4%;
	padding-bottom: 4%;
	background-color: #f1f2f6;
}
.scrtxt
{
	padding: 3%;
	font-size: 18px;
}

.scrimg
{
	padding-top: 2%;
	width: 50%;
}

.scrdn
{	
	margin-top: 2.5%;
	padding: 2%;
	background-color: #000000;
	color:#ced6e0;
	text-align: center;
	font-size: 16px;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	cursor: pointer;
}

.ftr
{
	cursor: pointer;
	bottom: 0;
	padding: 5%;
	background-color: #000000;
	color:#ced6e0; 
}

.ftrtxt
{
	text-align: center;
	font-size: 25px;
}

.ftric
{
	word-spacing: 20px;
	padding: 5%;
	padding-top: 5%;
	text-align: center;
	font-size: 22px;
}


.cprtxt
{
	text-align:center;
	font-size: 12px;
}

.mhide
{
	display: none;
}

@media only screen and (max-height: 600px) {

 .scrdn
{
	font-size: 16px;	
}

}


